<div>
	<div class="scrollable">
		<div class="scrollable-content">
			<div class="list-group">
				<div class="list-group-item">
					<div bs-panel title="Style Check">
						<p ng-class="home.style">
							Button Status
						</p>
					</div>
				</div>
				<div class="list-group-item">
					<div bs-panel>
						<input type="button" class="btn" value="normal" ng-click="home.normal()" />
						<input type="button" class="btn btn-success" value="success" ng-click="home.success()" />
						<input type="button" class="btn btn-info" value="info" ng-click="home.info()" />
						<input type="button" class="btn btn-warning" value="warning" ng-click="home.warning()" />
						<input type="button" class="btn btn-danger" value="danger" ng-click="home.danger()" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>